.button {
  position: fixed;
  font-size: 20px;
  bottom: 200px;
  left: 42%;
  width: 250px;
  height: 50px;
  border: 1px solid #333;
  color: #fff;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #05aab6;
  color: rgb(48, 48, 48);
  border-radius: 8px;
}
.button:hover {
  background-color: #05aab6;
  color: rgb(48, 48, 48);
  border: 4px solid rgb(0, 0, 0);
}

.button:focus {
  background-color: #05aab6;
  color: rgb(48, 48, 48);
  border: 4px solid rgb(0, 0, 0);
}
